{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .example1 {
            height: 58px;
            overflow: hidden;
            position: relative;
        }
        .example1 h3 {
            font-size: large;
            position: absolute;
            width: 100%;
            line-height: 50px;
            text-align: center;
            /* Starting position */
            -moz-transform:translateX(100%);
            -webkit-transform:translateX(100%);
            transform:translateX(100%);
            /* Apply animation to this element */
            -moz-animation: example1 15s linear infinite;
            -webkit-animation: example1 15s linear infinite;
            animation: example1 15s linear infinite;
        }
        /* Move it (define the animation) */
        @-moz-keyframes example1 {
            0%   { -moz-transform: translateX(100%); }
            100% { -moz-transform: translateX(-100%); }
        }
        @-webkit-keyframes example1 {
            0%   { -webkit-transform: translateX(100%); }
            100% { -webkit-transform: translateX(-100%); }
        }
        @keyframes example1 {
            0%   {
                -moz-transform: translateX(100%); /* Firefox bug fix */
                -webkit-transform: translateX(100%); /* Firefox bug fix */
                transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%); /* Firefox bug fix */
                -webkit-transform: translateX(-100%); /* Firefox bug fix */
                transform: translateX(-100%);
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap:20px;
        }
    </style>
    <div class="example1" style="background: #F5F5F5;transition-duration: 1000ms">
        <h3> Livraison gratuite à partir de 100€ d'achat </h3>

    </div>
    {% if app.user %}
        {% for role in app.user.roles %}
            {% if role == "BANNED" %}
            <div class="alert alert-warning" role="alert" style="text-align: center">
                Votre compte a temporairement été suspendu. <a href="#"> Cliquez ici pour plus d'informations</a>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="jumbotron" style="background: white">
        <p style="font-family: 'Permanent Marker', cursive;text-align: center;font-size: xx-large;position: absolute;margin-left: 600px">SNEAK'ADDICT</p>
    </div>
    <div class="container js-filter">
        <div class="row">
            <div class="col-md-3">
                {% include 'chaussure/_filter.html.twig' with {form: form, min : min, max : max} only %}
            </div>
            <div class="col-md-9">
                <div class="d-flex justify-content-end mb-2 js-filter-sorting">
                    {% include 'chaussure/_sorting.html.twig' %}
                </div>
                <div class="grid js-filter-content">
                    {% include 'chaussure/_chaussures.html.twig' %}
                </div>
                <div class="mt-4 js-filter-pagination">
                    {% include 'chaussure/_pagination.html.twig' %}
                </div>

            </div>

        </div>


    </div>




{% endblock %}
{% block container %}

{% endblock %}
