<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

{% block nav %}

{% endblock %}
{% block body %}
    <a style="text-decoration: none; color: black" href=""><h1 style="text-align: center; margin-top: 10px;font-family: 'Permanent Marker', cursive;">Sneak'Addict</h1></a>

    <body style="background-color: #eee">
    <div style="background-color: white; text-align: center;height: 450px;width : 600px;margin-left: 650px; margin-top: 0px ">
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <form action="{{ path('forgotten_password') }}" method="post">
            <br>
            <br>
            <p style="font-size: medium" ><b>Mot de passe oublié ?</b></p>
            <label style="margin-right: 250px; color: grey; font-size: small"><b>ADRESSE E-MAIL:</b></label>
            <br>
            <input style="margin-bottom: 10px; margin-top: 5px; width: 360px; height: 45px"  name="email" type="email" required>
            <br>
            <input type="submit" name="submit" style="margin-bottom: 40px; margin-top: 20px; background-color: black; border: none; color: white; width: 360px; height : 45px" value="Envoyer le mail de réinitialisation">
            <br>
             <a style="text-decoration: none; color: black; font-size: small;" href="{{ path('chaussures') }}">Retour à l'accueil</a>
        </form>


    </div>
    </body>
{% endblock %}
