{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionController!{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
    <a style="text-decoration: none; color: black" href=""><h1 style="text-align: center; margin-top: 10px;font-family: 'Permanent Marker', cursive;">Sneak'Addict</h1></a>

    <body style="background-color: #eee">
    {% if error %}
        <div style= "text-align: center; width : 600px; margin-left: 650px"class="alert alert-danger">

            {{ error.messageKey | trans(error.messagedata,'security') }}

        </div>
    {% endif %}
    <div style="background-color: white; text-align: center;height: 600px;width : 600px;margin-left: 650px; margin-top: 0px ">

        <form action="{{ path('login') }}" method="post">
            <br>
            <br>
            <p style="font-size: medium" ><b>CONNEXION AVEC VOTRE ADRESSE E-MAIL</b></p>
            <label style="margin-right: 250px; color: grey; font-size: small"><b>ADRESSE E-MAIL:</b></label>
            <br>
            <input style="margin-bottom: 10px; margin-top: 5px; width: 360px; height: 45px"  name="_username" type="email" required>
            <br>
            <label style="margin-right: 260px; color: grey; font-size: small"><b>MOT DE PASSE:</b></label>
            <br>
            <input style="margin-bottom: 10px; margin-top: 5px; width: 360px; height: 45px"  name="_password" type="password" required>
            <br>
            <input type="submit" name="submit" style="margin-bottom: 40px; margin-top: 20px; background-color: black; border: none; color: white; width: 320px; height : 45px" value="CONNEXION">
            <br>
            <a href="#" style="text-decoration: none; color: black; font-size: small;">Mot de passe oublié ? </a> | <a style="text-decoration: none; color: black; font-size: small;" href="">Pas encore inscrit ?</a>
            <hr>OU<hr>
            <p style="font-size: medium"><b>CONNECTEZ-VOUS AVEC ...</b></p>
            <button style="background-color: white; width: 188px;height: 50px;border: 2px solid grey"><i style="margin-right: 10px; color: dodgerblue" class="fa fa-facebook-square"></i>FACEBOOK </button> <button style="background-color: white; border: 2px solid grey;width: 188px;height: 50px;"><i style="margin-right: 10px;" class="fa fa-google"></i>GOOGLE</button> <button style="background-color: white; border: 2px solid grey;width: 188px;height: 50px;"><i style="margin-right: 5px; color: #5eb5e0" class="fa fa-twitter"></i> TWITTER </button>
        </form>


    </div>
    </body>
{% endblock %}
